<div class="card">
    <p-table
        [value]="golfers"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        [(selection)]="selectedGolfer"
        selectionMode="single"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} golfers"
        [rowsPerPageOptions]="[10, 25, 50]"
    >
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name" style="width:25%">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="handicapIndex" style="width:25%">Handicap Index <p-sortIcon field="handicapIndex"></p-sortIcon></th>
                <th pSortableColumn="homeCourse" style="width:25%">Home Course <p-sortIcon field="homeCourse"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-golfer>
            <tr [pSelectableRow]="golfer" (click)="onSelectGolfer(golfer.id)">
                <td>{{ golfer.name }}</td>
                <td>{{ golfer.handicapIndex }}</td>
                <td>{{ golfer.homeCourse }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>